@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap');

/*Обнуление стилей css*/
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*/Обнуление стилей css*/


/*main*/
body {
    float: left;
    width: 1519px;
    height: 3129px;
    background-image: url("../recources/BackGround.png");
    background-attachment: fixed;
    background-position-x: 20%;
    background-position-y: 40%;
    background-repeat: no-repeat;
}

header {
    float: left;
    width: 1006px;
    height: 170px;
    margin-left: 255px;
    margin-top: 223px;
}

main {
    float: left;
    width: 1319px;
    height: 2388px;
    margin-left: 100px;
    margin-top: 105px;
}

footer {
    float: left;
    width: 1519px;
    height: 136px;
    margin-top: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #2D4D37;
}

/*/main*/


/*blocks*/
.headerBlock {
    position: relative;
    width: 960px;
    height: 109.68px;
    margin-left: 23px;
    margin-top: 30px;

    background: #BCD775;
    border-radius: 11px;

}

.historyBlock {
    position: absolute;
    width: 960px;
    height: 350px;
    margin-left: 179px;
    margin-top: 86px;

    background: #BCD775;
    border-radius: 11px;
}

.quoteBlock {
    position: absolute;
    width: 960px;
    height: 156px;
    margin-left: 179px;
    margin-top: 534px;

    background: #BCD775;
    border-radius: 11px;
}

.goodBlock {
    position: absolute;
    width: 360px;
    height: 415px;
    margin-left: 879px;
    margin-top: 897px;

    background: #BCD775;
    border-radius: 11px;
}

.badBlock {
    position: absolute;
    width: 360px;
    height: 415px;
    margin-left: 879px;
    margin-top: 1359px;

    background: #BCD775;
    border-radius: 11px;
}

.animalBlock {
    position: absolute;
    width: 360px;
    height: 450px;
    margin-left: 879px;
    margin-top: 1822px;

    background: #BCD775;
    border-radius: 11px;
}

.codeBlock {
    position: absolute;
    width: 760px;
    height: 877px;
    margin-left: 79px;
    margin-top: 897px;

    background: #BCD775;
    border-radius: 11px;
}

.animalAside {
    width: 343px;
    height: 251px;
    padding-left: 10px;
    padding-top: 10px;
}

.swordsAndShovelsBlock {
    width: 736px;
    height: 500px;
    padding-left: 36px;
    padding-top: 140px;
}

/*/blocks*/


/*fonts*/
.headerH1 {
    width: 906.71px;
    height: 79px;
    padding-left: 53px;
    padding-top: 31px;

    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;

    color: #2D4D37;
}

.historyH1 {
    width: 642px;
    height: 90.32px;
    padding-left: 318px;
    padding-top: 54.32px;

    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    color: #2D4D37;
}

.historyP {
    width: 865px;
    height: 199.68px;

    padding-left: 95px;
    padding-top: 49.68px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #2D4D37;
}

q {
    position: absolute;
    width: 691px;
    height: 96px;
    margin-left: 134px;
    margin-top: 25px;

    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;

    color: #2D4D37;
}

.authorQuote {
    width: 952px;
    height: 139px;
    padding-left: 700px;
    padding-top: 121px;

    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;

    text-align: center;
    color: #2D4D37;
}

.goodH1 {
    width: 252px;
    height: 106px;
    padding-left: 108px;
    padding-top: 70px;

    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    text-align: center;
    color: #2D4D37;
}

.goodUl {
    width: 308px;
    height: 293px;
    padding-left: 57px;
    padding-top: 59px;
}

.badH1 {
    width: 234px;
    height: 106px;
    padding-left: 126px;
    padding-top: 70px;

    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    text-align: center;
    color: #2D4D37;
}

.badUl {
    width: 302px;
    height: 340px;
    padding-left: 57px;
    padding-top: 59px;
}

li {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #2D4D37;
}

.animalH1 {
    width: 288px;
    height: 142px;
    padding-left: 72px;
    padding-top: 70px;

    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    text-align: center;
    color: #2D4D37;
}

.animalPre {
    font-size: 10px;
    text-align: center;
    color: #2D4D37;
}

.codeH1 {
    width: 578px;
    height: 106px;
    padding-left: 182px;
    padding-top: 70px;

    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    text-align: center;
    color: #2D4D37;
}

.swordsAndShovelsP {
    width: 736px;
    height: 225px;
    padding-left: 32px;
    padding-top: 70px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #2D4D37;
}

/*/fonts*/

/*contact*/
.navFooter {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;
}

#VK {
    width: 33.1px;
    height: 30px;
    background-image: url(../recources/vk.png);
}

#GIT {
    width: 33.1px;
    height: 30px;

    background-image: url(../recources/github.png);
}

#TG {
    width: 33.1px;
    height: 30px;

    background-image: url(../recources/telegram.png);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 40%;
    top: 40%;
    width: 20%;
    height: 10%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8)
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeMsg {
    color: black;
    float: right;
    font-size: 15px;
    font-weight: bold;
}


.modalChat {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8)
}

#chatMessages {
    background-color: #BCD775;
    overflow: auto;
    height: 65%;
    width: 95%;
    margin-left: 2%;
    margin-top: 5%;
}

#msgTextArea {
    width: 73%;
    margin-top: 2%;
    margin-left: 2%;
}

.botMessage {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.userMessage {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
}
/*/contact*/
